body {
    margin: 0;
    background: pink;
    text-align: center;
}

button {
    border: 10px solid black;
}

button.normalButton {
    background-color: aqua;
}

button.specialButton {
    background-color: rgb(104, 2, 117);
}